{% block body %}
    {{ form_start(delete_form) }}
    <button type="submit">
        <i class="fa fa-minus-square" style="font-size:24px"></i>
    </button>
    {{ form_end(delete_form) }}

{% endblock %}